@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: Inter;
}

:root {
    --brand-green:#4CAF4F;
    --brand-neutral:#F5F7FA;
    --brand-main:#4D4D4D;
    --brand-text:#717171;
    --brand-footer:#263238;
}

header {
    height:84px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--brand-neutral);
}

#icon {
    display:inline-flex;
    gap:8px;
    font-size: 1.8rem;
    font-weight: 700;
}

#navbar a {
    text-decoration: none;
    color:black;
}

a {
    text-decoration: none;
    color: inherit;
}

#navbar {
    display:inline-flex;
    gap:50px;
}

#buttons {
    display:inline-flex;
    gap:14px;
}

#Login {
    border:none;
    background-color: var(--brand-neutral);
    color: var(--brand-green);
    padding: 10px 20px;
    border-radius: 6px;
}

#signup {
    border:none;
    background-color: var(--brand-green);
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
}

/********************section 1*******************/

.home {
    display:flex;
    flex-direction: column;
    gap:40px;
}

.main {
    display: flex;
    gap:104px;
    padding: 96px 144px;
    align-items: center;
    background-color: var(--brand-neutral);
}

.mainleft {
    display: flex;
    flex-direction: column;
    gap:32px;
}

.maintxt {
    display: flex;
    flex-direction: column;
    gap:16px;
}

.title {
    font-size: 64px;
    font-weight: 600;
    color: var(--brand-main);
}

.txt16 {
    color: var(--brand-text);
    font-size:16px;
    font-weight: 400;
}

.mainbtn {
    border:none;
    background-color: var(--brand-green);
    color: white;
    padding: 14px 32px;
    border-radius: 4px;
}

.main2 {
    display:flex;
    flex-direction: column;
    gap:16px;
    padding: 0 144px;
}

.main2txt {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:8px;
}

.sectitle {
    color: var(--brand-main);
    font-size: 38px;
    font-weight: 600;
}

.main2logos{
    display:flex;
    justify-content: space-between;
    height:98px;
}


.organizations{
    display:flex;
    justify-content: space-between;
    text-align: center;
}

.org {
    display:flex;
    flex-direction: column;
    gap:8px;
    width:299px;
    padding: 24px 32px;
}

.memb{
    display:flex;
    flex-direction: column;
    gap:16px;
    align-items: center;
}

.membicons {
    background-color: #E8F5E9;
    border-radius: 18px 5px 10px 5px;
    padding:2px 3px;
    
}

.txt28{
    color: var(--brand-main);
    font-size: 28px;
    font-weight: 700;
}

.txt14{
    color: var(--brand-text);
    font-size: 14px;
    line-height: 20px;
}

/******************layout************************/

.layout {
    display:flex;
    flex-direction: column;
    gap:48px;
}

.unseen{
    display:flex;
    padding: 0 144px;
    gap:100px;
    align-items: center;
    justify-content: flex-start;
}

.unseenright{
    display: flex;
    flex-direction: column;
    gap:32px;
    width: 570px;
    align-items: flex-start;
}

.unseentxt{
    display: flex;
    flex-direction: column;
    gap:16px;
}

/******************************/
.nums{
    background-color: var(--brand-neutral);
    display:flex;
    padding: 64px 144px;
    gap:204px;
    align-items: center;
}

.numsleft{
    display: flex;
    flex-direction: column;
    gap:8px;
}

.numsright{
    display: flex;
    flex-direction: column;
    gap:40px;
}

.numbers{
    display: flex;
    gap:82px;
}

.num1{
    display: flex;
    gap:16px;
}
/*****************************/
.timsmth{
    display: flex;
    gap:78px;
    background-color: var(--brand-neutral);
    align-items: center;
    padding: 32px 144px;
}

.tsright{
    display:flex;
    flex-direction: column;
    gap:32px;
}

.tstxt{
    display: flex;
    gap:16px;
    flex-direction: column;
}

.tstxt2{
    display: flex;
    gap:8px;
    flex-direction: column;
}

.tsicns{
    display:flex;
    gap:41px;
    align-items: center;
}

/******************************************/

.caring {
    display:flex;
    flex-direction: column;
    gap:24px;
    padding: 0 144px;
    align-items: center;
}

.caringtxt {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:8px;
}

.caring3{
    display:flex;
    gap:24px;
}

.caringsec{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caringcntnt{
    display:flex;
    flex-direction: column;
    padding: 16px;
    gap:16px;
    background-color: var(--brand-neutral);
    text-align: center;
    margin-top: -96px;
    width:295px;
    border-radius: 8px;
}

.sectxt{
    font-size: 20px;
    font-weight: 600;
    color: var(--brand-text);
}

.greentxt{
    color: var(--brand-green);
    font-size: 20px;
    font-weight:600;
}

/************************************/

.footer {
    display:flex;
    flex-direction: column;
}

.ftr1{
    padding: 32px 400px;
    display: flex;
    flex-direction: column;
    gap:32px;
    align-items: center;
    text-align: center;
}

.ftr2{
    background-color: var(--brand-footer);
    color: var(--brand-neutral);
    display: flex;
    padding:64px 165px;
    justify-content: space-between;
}

.ftrleft{
    display: flex;
    flex-direction: column;
    gap:40px;
}

.cprt{
    display: flex;
    flex-direction: column;
    gap:8px;
}

.ftrright{
    display:flex;
    gap:100px;  
}

.company{
    display:flex;
    flex-direction: column;
    gap:24px;
}

.cmpcntnt{
    display:flex;
    flex-direction: column;
    gap:12px;
}

.cmptitle{
    font-size:20px;
    font-weight: 600;
}

.email{
    background-color: var(--brand-main);
    width:255px;
    height:40px;
    border-radius: 8px;
    padding: 12px 9px;
    opacity: 0.5;
}
